<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Tesing Help</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        
        <li><%= link_to 'Home', static_home_path %></li>
		<li><%= link_to 'Question Papers', questions_path %></li>
		<li><%= link_to 'New Paper', new_question_path %></li>
		<li><%= link_to 'Mock Test', new_exam_path %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
           <li class="navbar-link"> Logged in as <strong><%= current_user.email %></strong>. </li>
           <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
           <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
           <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>|
           <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>